.slick-list {
  display: flex !important;
  height: 100%;
  flex-flow: column;
  justify-content: center;
}
.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
  width: 0.8rem !important;
  height: 0.8rem !important;
}
.slick-dots li {
  margin: 0 0.5rem !important;
}
.slick-dots li button:before {
  font-size: 0.8rem !important;
  line-height: 0.8rem !important;
  color: #c3c9d8 !important;
}

.slick-dots li.slick-active button:before {
  color: #ff881b !important;
}

.slick-slider {
  flex: 1 !important;
}
.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div {
  height: 100% !important;
}
